.env
*/.env
*/__pycache__
*/*/__pycache__
*/_data
_data
_data/
*/models
*/catboost_info
*/_news
token_cache.json
*/token_cache.json
*/*.pt
*/*/*.pt
*/*.pth
*/*/*.pth
*/*.pkl
*/*/*.pkl
*/scalers
*/scalers_v1
*/models_xgb_lgbm_lstm
*/_data_v1
*/*.csv
*/pseudo
*/*/parquet
*/*.txt
*/*.xlsx
*.xlsx
*/*/*.xlsx
_weight/
*/_backtest
*/models_9stocks/
*/tuning_results/